.input {
    display: block;
    margin-bottom: 16px;
    width: 400px;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;

    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.5;

    border-radius: 3px;
    border: 1px solid #f3f3f3;
    padding: 8px 12px 8px 8px;
    box-sizing: border-box;
    outline: none;
    resize: none;

    background-color: #f3f3f340;
    transition: border 0.3s;

    &--invalid {
        border: 1px solid #f15e50;
    }
}
