.line {
    height: 1px;
    width: 100%;
    background-color: #eeeeee;
    margin-bottom: 24px;

    &__in-task {
        margin-bottom: 16px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
