.new-item {
    display: inline-flex;
    align-items: center;

    margin-left: 172px;
    cursor: pointer;

    &__plus-icon {
        margin-right: 8px;
        height: 24px;
        width: 24px;

        background-image: url(../../assets/plus.svg);
        vertical-align: middle;

        transition: all 0.3s;
    }

    &__plus-icon:hover {
        opacity: 0.7;
    }

    &__label {
        margin-top: 3px;

        font-family: "Kalam", monospace;
        font-size: 16px;

        transition: all 0.3s;
    }

    &__label:hover {
        opacity: 0.7;
    }
}
