.Modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 500;
    background-color: white;
    width: 60%;
    border-radius: 3px;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;

    animation-name: slideInDown;
    animation-duration: 0.5s;
    animation-fill-mode: both;

    @keyframes slideInDown {
        0% {
            transform: translateY(-100%);
            visibility: visible;
        }
        100% {
            transform: translateY(0);
        }
    }
}

@media (min-width: 600px) {
    .Modal {
        width: 450px;
        left: calc(50% - 250px);
    }
}
