.header {
    margin: 40px 175px 24px 175px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__date-and-time {
        margin-left: 38%;
        margin-right: 2%;
    }

    &__data-label {
        margin-right: 8px;

        font-family: "Kalam", monospace;
        font-size: 18px;
        color: #333333;

        vertical-align: middle;
    }

    &__data {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 200;

        &--date {
            margin-right: 16px;
        }
    }
}
