.header {
    margin: 40px 175px 24px 175px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        font-family: "Indie Flower", monospace;
        margin: 0 0 -12px 0;
        font-size: 40px;
        font-weight: 200;
        text-transform: uppercase;
        color: #333333;
    }

    &__byme {
        margin-left: 150px;
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        color: #333333;
    }

    &__data-label {
        font-family: "Kalam", monospace;
        font-size: 18px;
        margin-right: 8px;
        color: #333333;

        vertical-align: middle;
    }

    &__data {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 200;

        &--date {
            margin-right: 16px;
        }
    }
}
